<!DOCTYPE html>
<html>
<style>
  a:visited {color: blue;}
</style>

<body>
	<h1>Time to create a new account</h1>
	<form class='' action="/signup" method="post">
		
		<label for="email">Email:</label>
		<input type="text" name="email" value="">
		
		<label for="password">Password:</label>
		<input type="password" name="password" value="">
	
		<input type="submit"> <a href="/login">Login</a>
	
	</form>
	<p></p><a href="/">home page</a></p>
</body>

</html>