<!DOCTYPE html>
<html>

<body>
	<h1>Time to create a new account</h1>
	<form class='' action="/signup" method="post">
		
		<label for="email">Email:</label>
		<input type="text" name="email" value="">
		
		<label for="password">Password:</label>
		<input type="password" name="password" value="">
	
		<input type="submit"> <a href="/login">Login</a>
	
	</form>
</body>

</html>