<!DOCTYPE html>
<html>  
  <body>    
    <h1>Restaurants</h1>    
    <% @restaurants.each do |restaurant| %>      
    <%= restaurant.name %>      
    <%= restaurant.location %>      
    <%= restaurant.wifi_avaliable %>    
    <% end %> 
  </body>
</html>