<!DOCTYPE html>
<html>  
  <body>    
    <h1>Cafes</h1>    
    <% @cafes.each do |cafe| %>      
    <%= cafe.name %>      
    <%= cafe.location %>      
    <%= cafe.wifi_avaliable %>    
    <% end %> 
  </body>
</html>