<!DOCTYPE html>
<html>

<body>
	<form method="POST" action="/cafes">
		
		<label for "name">Name:</label>
		<input type="text" id="name" name="name">
	
		<label for "location">Location:</label>
		<input type="text" id="location" name="location">
		
		<label for "wifi_avaliable">Wifi_avaliable:</label>
		<input type="text" id="wifi_avaliable" name="wifi_avaliable">
		
		<input type="submit" id="submit" value="Submit">
	
	</form>
</body>

</html>