<html>
  <body>
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.location %></p>
    <p><%= @restaurant.wifi_avaliable %></p>
    
    <form method="POST" action="/restaurants/<%= @restaurant.id %>">
      <input id="hidden" type="hidden" name="_method" value="delete">
      
      <input type="submit" value="delete">
    
    </form>
  </body>
</html>