<!DOCTYPE html>
<html>
<style>
  a:visited {color: blue;}
</style>

<body>
	<h1> - Use this page to edit the Restaurant of your choice -</h1>
	
	<form method="POST" action="/restaurants/<%= @restaurant.id %>">
		<input type="hidden" value="patch" name="_method">
		
		<label for "name">Name:</label>
		<input type="text" id="name" value="<%= @restaurant.name %>" name="name">
		
		<label for "location">Location:</label>
		<input type="text" id="location" value="<% @restaurant.location %>" name="location">
		
		<label for "wifi_avaliable">Wifi_Avaliable:</label>
		<input type="text" id="" value="<% @restaurant.wifi_avaliable %>" name="wifi_avaliable">
		
		<input type="submit" id="submit" value="Submit">
	
	</form>
	<br>    
	 <form method="POST" action="/restaurants/<%= @restaurant.id %>">
      <input id="hidden" type="hidden" name="_method" value="delete">
      
      <input type="submit" value="delete">
      </form>
      
	<p></p><a href="/">home page</a></p> 
</body>
</html>