<!DOCTYPE html>
<html>  
  <body>    
    <h1>Restaurants</h1>
   <% @restaurants.each do |restaurant| %>       
   <p>Name: <%= restaurant.name %></p>
   <p>Location: <%= restaurant.location %></p> 
   <p>Wifi_Avaliable:<%= restaurant.wifi_avaliable %></p>
   <%= link_to 'Edit', edit_restaurant_path(restaurant) %>

   <br>
    <% end %> 
    
    <p></p><a href="/">home page</a></p> 
    
  </body>
</html>

