<html>
  <body>
    <p>Name: <%= @restaurant.name %><p></p>
    <p>Location: <%= @restaurant.location %></p>
    <p>Wifi_Avaliable: <%= @restaurant.wifi_avaliable %></p>
    
    <p><a href="/">home page</a></p> 
    
</body>
</html>