<h1>Cafe Tracker</h1>
<% if is_logged_in? %>
	<h2>login complete - please choose an action</h2>
	<ol>
		<li><a href="/cafes/edit">Edit a exsisting cafe</a>
		</li>
		<li><a href="/cafes/index">View all your Cafes</a>
		</li>
		<li><a href="/cafes/new">Create a new cafe</a>
		</li>
		<li><a href="/logout">Logout</a>
		</li>
	</ol>
	<% else %>
		<h2>Cafe Tracker lets you organize and view all your favorite places to drink coffee! Please login or signup to get started</h2>
		<ol>
			<li><a href="/signup">Signup</a>
			</li>
			<li><a href="/login">Login</a>
			</li>
			<li><a href="/logout">Logout</a>
			</li>
		</ol>
		<% end %>